.bands--contain {
  padding: 20px;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");

  .band--box {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid orange;
    height: 300px;
    margin-bottom: 20px;

    .band--contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* position: relative; */
      justify-content: space-between;
      padding: 20px;

      h2 {
        font-family: sans-serif;
        color: rgb(187, 219, 180);
        // border: 1px solid white;
        text-decoration: underline;
        // position: relative;
      }
      .img--box {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 50%;
          max-height: 350px;
          // height: fit-content;
          // position: relative;
        }
      }

      .btn {
        border-radius: 5px;
        border: 2px solid blueviolet;
        padding: 5px;
        height: 30px;
        background-color: lemonchiffon;
        color: blueviolet;
        cursor: pointer;

        &:hover {
          background-image: linear-gradient(
            90deg,
            #00c0ff 0%,
            #ffcf00 49%,
            #fc4f4f 80%,
            #00c0ff 100%
          );
          animation: slidebg 5s linear infinite;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .bands--contain {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 20px;
    height: auto;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");

    .band--box {
      display: flex;
      justify-content: center;
      padding: 10px;
      border: 2px solid orange;
      height: 95%;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .bands--contain {
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
  }
}
